# Ignore secrets
.streamlit/secrets.toml

# Do NOT ignore config (keep themeing)
!.streamlit/config.toml

# Private environment variables
.env
.flaskenv

# Database / Data
temp_bulk_downloads/
*.db
*.sqlite

# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# macOS junk
.DS_Store

# Misc
.vscode/
.idea/
*.log
